/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/ol/ol.css ***!
  \**************************************************************************/
:root,
:host {
  --ol-background-color: white;
  --ol-accent-background-color: #F5F5F5;
  --ol-subtle-background-color: rgba(128, 128, 128, 0.25);
  --ol-partial-background-color: rgba(255, 255, 255, 0.75);
  --ol-foreground-color: #333333;
  --ol-subtle-foreground-color: #666666;
  --ol-brand-color: #00AAFF;
}

.ol-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 1.5px solid var(--ol-background-color);
  background-color: var(--ol-partial-background-color);
}

.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}

.ol-scale-line {
  background: var(--ol-partial-background-color);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}

.ol-scale-line-inner {
  border: 1px solid var(--ol-subtle-foreground-color);
  border-top: none;
  color: var(--ol-foreground-color);
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
  transition: all 0.25s;
}

.ol-scale-bar {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.ol-scale-bar-inner {
  display: flex;
}

.ol-scale-step-marker {
  width: 1px;
  height: 15px;
  background-color: var(--ol-foreground-color);
  float: right;
  z-index: 10;
}

.ol-scale-step-text {
  position: absolute;
  bottom: -5px;
  font-size: 10px;
  z-index: 11;
  color: var(--ol-foreground-color);
  text-shadow: -1.5px 0 var(--ol-partial-background-color), 0 1.5px var(--ol-partial-background-color), 1.5px 0 var(--ol-partial-background-color), 0 -1.5px var(--ol-partial-background-color);
}

.ol-scale-text {
  position: absolute;
  font-size: 12px;
  text-align: center;
  bottom: 25px;
  color: var(--ol-foreground-color);
  text-shadow: -1.5px 0 var(--ol-partial-background-color), 0 1.5px var(--ol-partial-background-color), 1.5px 0 var(--ol-partial-background-color), 0 -1.5px var(--ol-partial-background-color);
}

.ol-scale-singlebar {
  position: relative;
  height: 10px;
  z-index: 9;
  box-sizing: border-box;
  border: 1px solid var(--ol-foreground-color);
}

.ol-scale-singlebar-even {
  background-color: var(--ol-subtle-foreground-color);
}

.ol-scale-singlebar-odd {
  background-color: var(--ol-background-color);
}

.ol-unsupported {
  display: none;
}

.ol-viewport,
.ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.ol-viewport canvas {
  all: unset;
  overflow: hidden;
}

.ol-viewport {
  touch-action: pan-x pan-y;
}

.ol-selectable {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

.ol-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.ol-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.ol-control {
  position: absolute;
  background-color: var(--ol-subtle-background-color);
  border-radius: 4px;
}

.ol-zoom {
  top: .5em;
  left: .5em;
}

.ol-rotate {
  top: .5em;
  right: .5em;
  transition: opacity .25s linear, visibility 0s linear;
}

.ol-rotate.ol-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s linear, visibility 0s linear .25s;
}

.ol-zoom-extent {
  top: 4.643em;
  left: .5em;
}

.ol-full-screen {
  right: .5em;
  top: .5em;
}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: var(--ol-subtle-foreground-color);
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  background-color: var(--ol-background-color);
  border: none;
  border-radius: 2px;
}

.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}

.ol-zoom-extent button {
  line-height: 1.4em;
}

.ol-compass {
  display: block;
  font-weight: normal;
  will-change: transform;
}

.ol-touch .ol-control button {
  font-size: 1.5em;
}

.ol-touch .ol-zoom-extent {
  top: 5.5em;
}

.ol-control button:hover,
.ol-control button:focus {
  text-decoration: none;
  outline: 1px solid var(--ol-subtle-foreground-color);
  color: var(--ol-foreground-color);
}

.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}

.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

.ol-attribution {
  text-align: right;
  bottom: .5em;
  right: .5em;
  max-width: calc(100% - 1.3em);
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

.ol-attribution a {
  color: var(--ol-subtle-foreground-color);
  text-decoration: none;
}

.ol-attribution ul {
  margin: 0;
  padding: 1px .5em;
  color: var(--ol-foreground-color);
  text-shadow: 0 0 2px var(--ol-background-color);
  font-size: 12px;
}

.ol-attribution li {
  display: inline;
  list-style: none;
}

.ol-attribution li:not(:last-child):after {
  content: " ";
}

.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}

.ol-attribution button {
  flex-shrink: 0;
}

.ol-attribution.ol-collapsed ul {
  display: none;
}

.ol-attribution:not(.ol-collapsed) {
  background: var(--ol-partial-background-color);
}

.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
}

.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}

.ol-attribution.ol-uncollapsible button {
  display: none;
}

.ol-zoomslider {
  top: 4.5em;
  left: .5em;
  height: 200px;
}

.ol-zoomslider button {
  position: relative;
  height: 10px;
}

.ol-touch .ol-zoomslider {
  top: 5.5em;
}

.ol-overviewmap {
  left: 0.5em;
  bottom: 0.5em;
}

.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}

.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button {
  display: block;
}

.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid var(--ol-subtle-foreground-color);
  height: 150px;
  width: 150px;
}

.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 0;
  left: 0;
  position: absolute;
}

.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button {
  display: none;
}

.ol-overviewmap:not(.ol-collapsed) {
  background: var(--ol-subtle-background-color);
}

.ol-overviewmap-box {
  border: 1.5px dotted var(--ol-subtle-foreground-color);
}

.ol-overviewmap .ol-overviewmap-box:hover {
  cursor: move;
}

/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./app/css/index.css ***!
  \*********************************************************************/
/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
  font-display: fallback;
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
  font-display: fallback;
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
  font-display: fallback;
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
  font-display: fallback;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.hidden {
    display: none;
}

.glassmophism {
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.8);
}

/* the same with .ol-control button */
/*
.ol-button {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,0.5);
    border: none;
    border-radius: 2px;
}
*/

/* Remove input[type=number] Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
#setting-layers input::-webkit-outer-spin-button,
#setting-layers input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#setting-layers input[type=number] {
  -moz-appearance:textfield;
}

/*============ Settings Board ==================*/

.settings {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 85%;
    z-index: 9;
    background: #f8f8f8;
    border-left: solid 1px #f0f0f0;
}

.settings-ctrl.ol-control {
    /*float: right;*/
    /* .ol-control using absolute position */
    position: absolute;
    top: .5em;
    right: .5em;
}

.settings.collapsed .settings-main{
    display: none;
}

.settings-main {
    padding: .5em;
    min-width: 250px;
    height: 100vh;
    /*overflow-y: auto;*/
    box-sizing: border-box;
}

.ly-placeholder {
    display: inline-block;
    width: calc(100% - 3px);
    height: 1.5em;
    border: 2px dotted gray;
    /*background: gray;*/
}
/*
.ly-hover {
    background: #d0d0d0;
    cursor: grab;
}
*/

/*
#setting-layers:hover{
    overflow-y: scroll;
    padding-right: 0;
}
*/
#setting-layers{
    height: calc(100% - 2em);
    box-sizing: border-box;
    overflow-y: auto;
    /*padding-right: 17px; *//* width of scrollbar in Chrome, Firefox*/
}
/*
@supports (-ms-ime-align:auto) {
    #setting-layers{
        padding-right: 15px; /* width of scrollbar in Edge
    }
}
*/

#setting-layers ul{
    padding: 0;
    margin: 4px 2px 4px 0;
    list-style-type: none;
}
#setting-layers ul:not(:last-child){
    border-bottom: solid 1px #ccc;
    padding-bottom: 0.5em;
}

#setting-layers li:hover{
    background: #e8e8e8;
    cursor: grab;
}
#setting-layers li .ly-opt-checked:checked ~ *{
    color: #202020;
}
#setting-layers li .ly-opt-checked ~ *{
    color: #808080;
}

#setting-layers li .ly-body {
    display: inline-block;
    min-width: 15.5em;
}

#setting-layers li button.ly-ctrl {
    font-size: smaller;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    color: lightgrey;
}
#setting-layers li:not(:hover) button.ly-ctrl:not(.enabled) {
    visibility: hidden;
}
#setting-layers li button.ly-ctrl:hover {
    color: cornflowerblue;
    cursor: pointer;
}
#setting-layers li button.ly-ctrl.enabled {
    color: steelblue;
}

#setting-layers li .ly-opt-opacity{
    transform: scale(1.2) translate(4px, -1px);
    text-align: right;
    margin-right: 3px;
    width: 28px;
    border: none;
    background-color: transparent;
}
#setting-layers li .ly-opt-opacity:hover{
    background-color: white;
}
#setting-layers li .ly-opt-opacity+i{
    transform: scale(0.8);
}

/*----------------------------------------------------------------*/
#setting-opts button:hover{
    cursor: pointer;
}

#setting-opts .opt-group {
    border-width: 1px 0 0 0;
    margin-top: 8px;
}

#setting-opts legend {
    font-weight: bold;
}

#setting-opts ul.opt-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*font-weight: bold;*/
}

#setting-opts ul.opt-item li{
    margin-left: 1em;
    font-weight: normal;
}

#setting-opts ul.opt-item:not(:last-child){
    margin-bottom: 4px;
}

/*********************************************************
/* Toolbar
/********************************************************/

.toolbar{
    position: relative;
    z-index: 9;   /* prvent being covered by the map */
}

.toolbar .ctrl-btn {
    display: inline-block;
}

.toolbar .ctrl-btn.enabled {
    color: steelblue
}

.toolbar .ctrl-btn:not(.enabled){
    /*background: rgba(64, 64, 64, .5);*/
    /*color: lightgray;*/
}

/*============ Sidebar ==================*/

.toolbar-side{
    left: .5em;
    top: 18em;
}

/*============ Topbar =================*/
.toolbar-top{
    left: 3em;
    top: .5em;
}

.toolbar-top .ol-control:nth-child(2) { left: 2em; }
.toolbar-top .ol-control:nth-child(3) { left: 4em; }
.toolbar-top .ol-control:nth-child(4) { left: 6em; }
.toolbar-top .ol-control:nth-child(5) { left: 8em; }


/*------------ Topbar / Filter -----------------*/

.toolbar-top .ctrl-btn-filter:not(.active) ~ .filter-panel{
    display: none;
}

.filter-panel{
    position: absolute;  /* use absolute since it is under the ol-control */
    min-width: 10em;
    padding: 6px;
    border-radius: 0 4px 8px 8px;
    margin-top: 1px;
}

.filter-panel .tabcontent {
    border-width: 0;
}

.filter-panel input:checked + label{
    color: #404040;
}
.filter-panel input:not(:checked) + label{
    color: #808080;
}

.filter-panel .filter-row {
    white-space: nowrap;
}

.filter-panel .filter-row label{
    display: inline-block;
    width: 3em;
}
.filter-panel .filter-row input{
    border-width: 0;
    border-bottom: 1px dashed lightgray;
    padding: 0px 4px;
    color: #404040;
}

.filter-panel .filter-row input:focus-visible{
    outline: 0;
    background-color: #f8f8f8;
}

.filter-panel .filter-row button {
    display: inline;
    font-size: 10px;
    vertical-align: 1px;
}

.filter-panel .filter-row button.active {
    background: powderblue;
    border: solid 1px lightskyblue;
}

.filter-panel .footer{
    background: rgba(128,128,128,.1);
    padding: 2px 0;
    margin-top: 2px;
    border-radius: 0 0 6px 6px;
}

.filter-panel .footer .filter-force{
    text-align: right;
    margin-right: 6px;
}

/*------------ Topbar / Goto -------------------*/

.toolbar-top .ctrl-btn-goto:not(.active) ~ .goto-panel{
    display: none;
}

.toolbar-top .goto-panel .goto-coordsys {
    text-align: center;
    font-size: 95%;
    outline: 0;
    border: 0px;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 3px 4px 2px 4px;;
    vertical-align: 0px;
    margin: 0 -4px;
}
.toolbar-top .goto-panel .goto-coordsys:hover {
    cursor: pointer;
}

.toolbar-top .goto-panel .goto-coord-txt{
    text-align: left;
    font-size: 16px;
    border: none;
    border-radius: 0 16px 16px 0;
    outline: 0;
    vertical-align: 1px;
    padding: 2px 8px 2px 8px;
    width: 7em;
}

.toolbar-top .goto-panel .goto-coord-txt.invalid {
    background-color: #ffa0a0;
}

.toolbar-top .goto-panel .goto-coord-txt::placeholder{
    color: #b0b0b0;
    font-size: smaller;
}

.toolbar-top .goto-panel .goto-coord-go:hover {
    cursor: pointer;
}
.toolbar-top .goto-panel .goto-coord-go {
    margin-left: 0px;
    border-radius: 16px;
    position: absolute;   /* use 'absolute', which help ol-control to fit its width */
    right: -6px;
    top: -1px;
    border: solid 1px lightgray;
    padding: 0px;
    font-size: 17px;
}

.toolbar-top .goto-panel .goto-coord-go svg{
    font-size: 12px;
}

/*============= Map ======================*/

.ol-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.ol-overviewmap
.ol-overviewmap-map{
    width: 25vw;
    height: 25vh;
}

.ol-scale-line {
    left: calc(50% - 50px);
}

.save-cookie {
    top: 284px;
    left: .5em;
}

.ol-touch .save-cookie {
    top: 80px;
}

/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./app/css/tab.css ***!
  \*******************************************************************/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab .tablink {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px 5px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab .tablink:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab .tablink.active {
    background-color: #ccc;
  }

  .tabcontent:not(.active){
    display: none;
  }
  
  /* Style the tab content */
  .tabcontent {
    padding: 4px;
    border: 1px solid #ccc;
    border-top: none;
  }
/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./app/css/ctx-menu.css ***!
  \************************************************************************/
.ctx-menu {
    position: fixed;
    z-index: 10000;
    min-width: 185px;
    background: #404040;
    border-radius: 5px;
    /*display: none;*/
    transform: scale(0);
    transform-origin: top left;
}

.ctx-menu.visible {
    /*display: block;*/
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}

.ctx-menu .ctx-item-bar {
    border-top: 1px solid #a0a0a0;
}

.ctx-menu .ctx-item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    /*border-radius: inherit;*/
}

.ctx-menu .ctx-item:only-child {
    border-radius: 5px !important;
}
.ctx-menu .ctx-item:first-child {
    border-radius: 5px 5px 0 0;
}
.ctx-menu .ctx-item:last-child {
    border-radius: 0 0 5px 5px;
}


.ctx-menu .ctx-item a {
    color: #eee;
    text-decoration: none;
    white-space: nowrap;
    appearance: button;
    min-width: 8em;
}

.ctx-menu .ctx-item:hover {
    background: #606060;
}

.ctx-menu .ctx-item i,
.ctx-menu .ctx-item svg {
    display: inline-block;
    width: 16px;
    margin-right: 8px;
}

.ctx-menu .ctx-item-group {
    position: relative;
}

.ctx-menu .ctx-item-group::after {
    content: "►";
    font-size: smaller;
}

.ctx-item-group > .ctx-submenu {
    z-index: 10001;
    position: absolute;
    top: 0;
    left: calc(100% + 1px);
    min-width: 8em;
    background: #404040;
    border-radius: 0 5px 5px 0;
}

.ctx-item-group:not(:hover) > .ctx-submenu {
    display: none;
}
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./app/css/popup.css ***!
  \*********************************************************************/
/* ============== .progbar ==========================*/
.progbar {
    position: relative;
    min-height: 1px;
    color: #202020;
    background-color: lightgray;
    border-radius: 8px;
    border: solid 1px #e0e0e0;
}

.progbar>span {
    position: absolute;
    right: 4px;
    bottom: 0;
}

.progbar>div {
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    color: #202020;
    background-color: darkgray;
    border-radius: 8px;
}

.progbar>div>span {
    padding-left: 4px;
}

/******************* Popup Overlay ********************/

select, option {
    -webkit-appearance: none; /* WebKit/Chromium */
    -moz-appearance: none; /* Gecko */
    appearance: none;
}
  /* Internet Explorer 10–11 and Edge */
select::-ms-expand {
    display: none;
}

.tooltip-inner {
    white-space: nowrap;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    /*padding: 15px 2em 15px 15px;*/
    padding: 2px;
    border-radius: 10px;
    bottom: 12px;
    left: -50px;
    /*min-width: 225px;*/
    border: 1px solid #cccccc;
    transition: border .5s ease-in;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup.highlight {
    /*border: 1px solid orange;*/
    border-width: 2px 2px 1px 1px;
    border-style: solid;
    border-color: orange;
    transition: border .5s ease-out;
}

/* ======================================================================== */

/*#pt-popup input,*/
#pt-popup span[contenteditable]{
    padding: 2px 4px;
    border: solid 1px transparent;
}

/*#pt-popup input:focus-visible,*/
#pt-popup span[contenteditable]:focus-visible{
    outline: 0;
    background-color: #e8e8e8;
    border: solid 1px #d0d0d0;
    border-radius: 4px;
}

/* as placeholder */
#pt-popup span[contenteditable]:empty:before
{
    color: lightgray;
    font-weight: normal;
    font-style: italic;
    content: attr(data-placeholder);
}

.pop-resizer.active:not(.disabled) {
    transform: rotateX(180deg);   /*resize cursor in top-right corner */
    resize: both;
    overflow: hidden;
}

.pop-resizer.active:not(.disabled) .pop-resizer-content{
    transform: rotateX(180deg);
}

.pop-closer {
    display: none;
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.pop-closer:after {
    content: "✖";
}

.pop-content {
    padding: 4px 32px 4px 4px;  /* right space for tool buttons */
}

.pop-content:focus-visible {
    outline: 0;
}

.pop-desc:not(.hidden) {
    display: inline-block;
    white-space: break-spaces;
    color: #90a3bb;
    font-size: smaller;
}

/*----------------------------------------------------------------*/

.pop-trk {
    position: relative;
    white-space: nowrap;
    /*
    border-bottom: solid 1px lightgray;
    padding-bottom: 4px;
    margin-bottom: 5px;
    */
    /*border: solid 1px transparent;*/
    /*border-radius: 8px;*/
}
.pop-trk:hover {
    /*border-color: lightgray;*/
}

.pop-trk:not(:hover) .pop-trk-tool {
    display: none;
}

.pop-trk-tool {
    margin: 0;
    border: 0;
    border-top: 1px solid lightgray;
    padding: 2px;
    text-align: center;
    /*width: calc(100% - 18px);*/
}

.pop-trk-tool button{
    border: none;
    background-color: transparent;
    color: gray;
    width: 2em;
}
.pop-trk-tool button:hover{
    color: black;
    cursor: pointer;
}

/*-----------------------------------------------*/

.color-item {
    padding: 8px;
    margin: 2px;
    border-radius: 4px;
    border: solid 1px #d0d0d0;
}

.color-item:hover{
    cursor: pointer;
    padding: 9px;
    margin: 1px;
}

.pop-trk-color {
    display: inline-block;
}

.pop-trk-name-wrap {
    display:inline-block;
    width: calc(100% - 27px);
}

.pop-trk-name {
    display: inline-block;
    vertical-align: 4px;
    font-weight: bold;
}

.pop-trk-seg-sn {
    /*position: absolute;
    bottom: 7px;
    right: -25px;*/
    vertical-align: 4px;
    color: gray;
    font-size: small;
}

.pop-trk-progbar{
    margin: 1px 0 4px 0;
    font-size: 1px;
}
.pop-trk-progbar span{
    visibility: hidden;
}

.pop-trk:hover .pop-trk-progbar.active span{
    font-size: 12px;
    visibility: visible;
}

.pop-colorboard {
    position: absolute;
    z-index: 10;
    padding: 4px;
}

.pop-colorboard-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/*----------------------------------------------------------------*/

.pop-pt-tool {
    position: relative;
    margin: 0;
    border: 0;
    padding: 0px;
}

.pop-pt-tool button {
    border: none;
    border-radius: 4px;
    background: transparent;
    font-size: 16px;
    padding: 4px;
}

.pop-pt-tool button:hover{
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.pop-pt-tool button:nth-child(-n+2) {
    position: absolute;
    right: -24px;
    top: 0px;
}

.pop-pt-tool button:nth-child(3) {
    position: absolute;
    right: -24px;
    top: calc(1em + 4px);
}

.pop-tool-mk-wpt svg {
    color: royalblue;
    transform: rotate(25deg);
}

.pop-tool-rm-wpt svg {
    color: #505050;
}

/*----------------------------------------------------------------*/
.pop-pt-header,
.pop-pt-coord,
.pop-pt-ele,
.pop-pt-time {
    white-space: nowrap;
}

/*  Set the position of pop-pt-header on the top of the panel */
/*
.ol-popup { border-top-left-radius: 0; }
.po-pt-header {
    position: absolute;
    top: -32px;
    left: 0px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px 4px 0 0;
    padding: 4px 4px 0px 2px;
}
*/

.pop-pt-header:not(.hidden) {
    display: inline-block;
    border-radius: 4px;
    margin-left: 4px;
}

.pop-pt-sym {
    padding: 2px;  /* match the size of text of pt-name */
    vertical-align: -7px;
}

.pop-pt-sym:hover {
    cursor: pointer;
}

.pop-pt-name {
    /*font-weight: bold;*/
    font-size: 20px;
    /*width: 9em;*/
}

.pop-pt-desc {
    margin-left: 4px;
}

.pop-pt-coord, .pop-pt-ele, .pop-pt-time{
    margin: 2px 0;
    color: gray;
    font-size: 90%;
}

.pop-pt-coord-title, .pop-pt-ele-title, .pop-pt-time-title{
    width: 55px;
    font-weight: 600;
    text-align: right;
    display: inline-block;
}

.pop-pt-coord-title{
    outline: 0;
    border: 0px;
    color: gray;
    background: transparent;
    font-size: 95%;
}

.pop-pt-coord-title:hover{
    cursor: pointer;
}

.pop-pt-coord-title option[value$="_6"]{
    display: none;
}

/* to align editable ele and time fields */
.pop-pt-coord-title { padding-right: 5px; width: 60px;}
.pop-pt-time-value { padding-left:5px; }

.pop-pt-gmap img {
    width: 12px;
    height: 12px;
    border: 0;
}

.sym-copyright ,
.sym-copyright a:link,
.sym-copyright a:visited {
    color: #b0b0b0;
    font-size: x-small;
    margin-top: 3px;
}

.sym-license {
    white-space: nowrap;
}

/* ---------------------------------------------------------------- */
.pop-symboard {
    position: absolute;
    padding: 4px;
    z-index: 10;
}

.pop-symboard-items {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
}

.pop-symboard-item {
    padding: 2px;
    border-radius: 4px;
}
.pop-symboard-item:hover{
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.pop-symboard-item.extra {
    background-color: rgba(0, 0, 0, 0.2);
}
.pop-symboard-item.extra:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.pop-symboard-item-img {
    width: 32px;
    height: 32px;
    background-image: url(a04d235aca4ee0159cd5.png);
}

.pop-symboard-footer{
    border-top: 2px solid lightgray;
    margin-top: 2px;
    padding-top: 2px;
}

.pop-symboard-footer>label{
    margin-left: 4px;
    /*vertical-align: middle;*/
}

.pop-symboard-footer>input{
    width: calc(100% - 3em);
    background: transparent;
    border: none;
    outline: 0;
    font-size: 20px;
    color: #202020;
    text-shadow: -1px -1px 0 #f0f0f0, 1px -1px 0 #f0f0f0, -1px 1px 0 #f0f0f0, 1px 1px 0 #f0f0f0;
}

/********************** Image Active *****************/
.pop-image.active {
    height: 300px;
    width: 400px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    border-radius: 8px;
}

.pop-image.active .pop-content:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.pop-image.active .pop-content:hover .pop-pt-header{ background-color: unset; }
.pop-image.active .pop-header{ background-color: rgba(255, 255, 255, 0.5); }

.pop-image.active .pop-pt-coord,
.pop-image.active .pop-pt-coord-title,
.pop-image.active .pop-pt-ele,
.pop-image.active .pop-pt-time,
.pop-image.active .sym-copyright,
.pop-image.active .sym-copyright a:link,
.pop-image.active .sym-copyright a:visited{
    color: #202020;
}

